---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bricked Contact</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/contact/">Contact</a>

    <h1>Contact Me</h1>
    <p>Want to reach out to me? Find me on the platforms below!</p>

    <h2>Code Forges</h2>
    <p>Want to check out my other projects? Find me on these code forges!</p>
    <ul>
      <li>GitHub <a href="https://github.com/brckd"><code>@brckd</code></a></li>
      <li>Codeberg <a href="https://codeberg.org/bricked"><code>@bricked</code></a></li>
    </ul>

    <h2>Messaging</h2>
    <p>Want to chat with me? Find me on these messaging platforms!</p>
    <ul>
      <li>
        Discord <a href="https://discord.com/users/691572882148425809"><code>@brckd</code></a>
      </li>
      <li>Discord Server <a href="https://discord.gg/nkJCxU9STT"><code>MUES</code></a></li>
      <li>
        Matrix <a href="https://matrix.to/#/@bricked:matrix.org"><code>@bricked:matrix.org</code></a
        >
        Matrix Space <a href="https://matrix.to/#/#mues:matrix.org"><code>#mues:matrix.org</code></a
        >
      </li>
    </ul>
  </body>
</html>
